body{margin: 0; padding: 0; background-color: black;}

/* ----------------- */
/* ----- INDEX ----- */
/* ----------------- */
.index_wrapper{display: flex; flex-flow: column; align-items: center; color: white; font-family: 'TID UI'; width: 100%; height: 100%;}

/* Index h1 (Overskrift) */
#i_h{margin: 1%;}

/* Index p (Normal tekst) */
.i_p{margin: 0.5%; margin-bottom: 0.25%;}
.i_p2{margin: 0.5%; margin-top: 1%; margin-bottom: 0.25%;}

/* Index input form fra / til */
#i_fra, #i_til{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 200px;
}
/* Index input fra / til */ #i_ifra, #i_itil{height: 100%; width: 100%;}

/* Velgemeny */
#velg{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.stasjonspelement{margin: 10px;}
.stasjonsbutton{margin-left: 5px; border: 0; background-color: #00308F; color: white; border-radius: 5px; height: 100%; width: fit-content;}
.stasjonsbutton:hover{background-color: #00488f; cursor: pointer;}

/* Index button */
#i_b{
    background-color: #00308F;
    width: 100px;
    height: 25px;
    margin-top: 1%;
    border: 0;
    color: white;
    border-radius: 5px;
}
#i_b:hover{background-color: #00488f; cursor: pointer;}

/* ---------------- */
/* --- AVGANGER --- */
/* ---------------- */

#resultater{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.departureDiv{
    display: flex;
    flex-flow: row;
    background-color: #212121;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
    height: max-content;
    align-items: center;
    justify-content: center;
    width: max-content;
}
.aimedStartDiv{
    margin-left: 8px;
    font-size: 200%;
}
.aimedEndDiv {
    margin-right: 8px;
    font-size: 200%;
}
.lineDiv{
    border-radius: 8px;
    margin: 8px;
}
.lineDiv2{
    margin: 8px;
    padding: 4px;
    font-size: 200%;
    border-radius: 8px;
}
.orange{
    background-color: #EC700C;
}
.other{
    background-color: #757575;
}
.red{
    background-color: #E60000;
}
.green{
    background-color: #75A300;
}
.blue{
    background-color: #0B91EF;
}
.walkDiv{
    max-width: 25px;
    color: white;
    margin: 0px 8px 0px 8px;
}
.fullDiv{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
}
.fulltimeDisplay{
    display: flex;
    font-family: 'TID UI';
    justify-content: center;
    align-items: center;
    flex-flow: row;
    height: fit-content;
    font-size: 200%;
}
.timeDisplayEdit{
    text-decoration: line-through;
    font-size: 10px;
}
.startDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.endDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.totalTime{
    margin-left: 16px;
}
.lineDivLeg{
    margin: 0px 4px 0px 4px;
}
.legDiv{
    background-color: #212121;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}
.lineNumberDiv{
    border-radius: 8px;
    padding: 8px;
    margin-left: 16px;
}
.lineTextDiv{
    margin-left: 8px;
}
.walkDiv2{
    height: 32px;
    margin-left: 16px;
}
.legDivLine1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.legDivLine2{
    font-size: 75%;
    margin-top: 8px;
}
/* ----------------- */
/* ----- FONTS ----- */
/* ----------------- */
@font-face {
    font-family: 'TID UI';
    src: url(Fonts/TIDUI-Regular.ttf);
}
#map{
    display: block;
}